$fav: #ffffff;
.main {
	display: grid;
	grid-template-columns: 100px 100px 100px 100px;
	padding: 0px fav;
	margin: 0px fav;
	border: 0px;
	font-size: large;
	column-gap: 0px;
}
.num {
	background-color: aqua;
	font-weight: 2000;
	font-size: large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0px;
	&:hover {
		opacity: 0.2;
		background-color: fav;
		transition: 500ms all ease-in-out;
        padding: 2px;
        background-color: fav;
        color: fav;
    }
    &:click {
        opacity: 0.2;
        background-color: fav;
        transition: 500ms all ease-in-out;
        padding: 2px;
        color: fav;
    }
}

.operator {
	background-color: rgb(231, 135, 226);
	font-weight: 2000;
	font-size: large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0px;
	&:hover {
		opacity: 0.7;
		background-color: fav;
		transition: 500ms all ease-in-out;
	}
}
.result {
	background-color: fav;
	font-weight: 2000;
	font-size: large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
#text {
	font-weight: 2000;
	font-size: large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 10px;
	padding: 10px;
	border: 10px solid black;
}
